@model List<ProdutoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2>Bem vindo a EuroFire Shop</h2> </center>
<br />
<div class="quadradoImagem">
    <img src="~/images/carrinho.png" />
    @ViewBag.TotalCarrinho produtos existentes no carrinho.
    <a href="/Carrinho/Visualizar">Visualizar</a>
</div>
<br />
<br />


@foreach (var produtos in Model)
{

    <a href="/Carrinho/Detalhes/?idProduto=@produtos.Id">
        <figure class="quadradoImagem">
            <img class="quadradoImagem" src="data:image/jpeg;base64,@produtos.ImagemEm64_1" width="200">
            <figcaption>
                @produtos.Nome<br>
            </figcaption>
        </figure>
    </a>
}
