@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    
    <h2>Seu pedido foi concluido com sucesso!</h2>

    <hr />
    Número do Pedido @ViewBag.numeroPedido
    <hr />

    <br />
    <br />
    <a href="/home/index">Voltar</a>

</center>
