@model List<CarrinhoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Produtos no carrinho</h2>
<br />
<table class="table table-responsive">
    <tr>
        <th>Produto</th>
        <th>Imagem</th>
        <th>Quantidade</th>
        <th>Descrição</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id - @item.Nome</td>
            <td>
                <img id="imgPreview" src="data:image/jpeg;base64,@item.ImagemEmBase64"
                     class="img-responsive" width="50">
            </td>

            <td>@item.Quantidade</td>
            <td>@item.Descricao</td>
        </tr>
    }
</table>
<br />
<a href="/Carrinho/Index">Retornar para as compras</a>
<br />
<br />
<a href="/Carrinho/EfetuarPedido">Fechar pedido!!!</a>