@model List<FornecedorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--TEM QUE FAZER FILTROS NESSA PARTE-->

<h1>Listagem de Fornecedores</h1>

<br />
<a href="/fornecedor/criar">Novo Registro</a>
<br />
<br />


<table class="table table-responsive table-striped">
    @foreach (var fornecedor in Model)
    {


        <div class="col-md-8">

            <div class="row">
                <h3>Categoria: @fornecedor.Nome</h3> <br />
            </div>

            <div class="col-md-4">

                <a href="/Produto/Alterar/@fornecedor.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                <a href="javascript:confirmaExclusao(@fornecedor.Id)" class="btn btn-group btn-danger">Apagar</a>

            </div>
        </div>

    }

</table>
