@model List<FornecedorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--TEM QUE FAZER FILTROS NESSA PARTE-->

<h1>Listagem de Fornecedores</h1>

<br />
<a href="/fornecedor/criar">Novo Registro</a>
<br />
<br />


<table class="table table-responsive table-striped">

    <tr>
        <th>Fornecedor</th>
        <th>Ações</th>
    </tr>

    @foreach (var fornecedor in Model)
    {
        <tr>
            <td>@fornecedor.Nome</td>
            <td>
                <a href="/Fornecedor/Alterar/@fornecedor.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                <a href="javascript:confirmaExclusao(@fornecedor.Id, 'Fornecedor')" class="btn btn-group btn-danger">Apagar</a>
            </td>
        </tr>
    }
</table>
