@model CategoriaViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Produto</h1>



<form action="/Categoria/Salvar" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Tipo" value="@Convert.ToInt32(Model.Tipo)" />

    @if (ViewBag.Operacao == "A")
    {

        <label for="Id" class="control-label">Produto Id</label>
        <input asp-for="Id" value="@Model.Id" readonly class="form-control disabled" />
        <span asp-validation-for="Id" class="text-danger"></span>

    }


    <br />
    <br />

    <label for="Nome" class="control-label">Nome</label>
    <input asp-for="Nome" type="text" value="@Model.Nome" class="form-control" placeholder="Nome Categoria" />
    <span asp-validation-for="Nome" class="text-danger"></span>

    <br />
    <br />

    <input type="submit" value="Salvar dados" class="btn btn-success" />

    &nbsp; &nbsp; &nbsp; &nbsp;
    @if (ViewBag.Operacao == "A")
    {

        <a href="/Categoria/Index" class="btn btn-secondary">Listagem</a>
    }
    &nbsp; &nbsp; &nbsp; &nbsp;
    @if (ViewBag.Operacao == "A")
    {

        <a href="/Home/Index" class="btn btn-secondary">Home</a>
    }

    <span class="text-danger">@ViewBag.Erro</span>

</form>