@model List<CategoriaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--TEM QUE FAZER FILTROS NESSA PARTE-->

<h1>Listagem de Categorias</h1>

<br />
<a href="/categoria/criar" class="btn btn-default">Novo Registro</a>
<br />
<br />


<table class="table table-responsive table-striped">

    <tr>
        <th>Categoria</th>
        <th>Ações</th>
    </tr>

    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Nome</td>
            <td>
                <a href="/Categoria/Alterar/@cat.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                <a href="javascript:confirmaExclusao(@cat.Id, 'Categoria')" class="btn btn-group btn-danger">Apagar</a>
            </td>
        </tr>

    }

</table>
