<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EUROFIRE SHOP</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-image: linear-gradient(to right, white, white)">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="https://cdn.awsli.com.br/400x300/1113/1113643/logo/519b567bcd.png" width="100" height="40" >

                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul>
                    <a asp-area="" asp-controller="Home" asp-action="About" style="position:absolute; right: 114px;">
                        <img src="~/images/AboutPNG.png" width="50" />
                    </a>

                    @if (ViewBag.Logado == true)
                    {
                        @if (ViewBag.TipoUsuario == EnumTipoUsuario.Administador)
                        {
                            <a asp-area="" asp-controller="Usuario" asp-action="Criar" style="color: darkred; font-size: 15px">User | </a>
                            <a asp-area="" asp-controller="Usuario" asp-action="Index" style="color: black; font-size: 15px">List. User | </a>

                            <a asp-area="" asp-controller="Fornecedor" asp-action="Criar" style="color: darkred; font-size: 15px">Fornecedor | </a>
                            <a asp-area="" asp-controller="Fornecedor" asp-action="Index" style="color: black; font-size: 15px">List. Forn. | </a>

                            <a asp-area="" asp-controller="Marca" asp-action="Criar" style="color: darkred; font-size: 15px">Marca | </a>
                            <a asp-area="" asp-controller="Marca" asp-action="Index" style="color: black; font-size: 15px">List. Marca | </a>

                            <a asp-area="" asp-controller="Categoria" asp-action="Criar" style="color: darkred; font-size: 15px">Categorias | </a>
                            <a asp-area="" asp-controller="Categoria" asp-action="Index" style="color: black; font-size: 15px">List. Cate. | </a>

                            <a asp-area="" asp-controller="Produto" asp-action="Criar" style="color: darkred; font-size: 15px">Produtos | </a>
                            <a asp-area="" asp-controller="Produto" asp-action="Index" style="color: black; font-size: 15px">List. Prod. </a>

                            <a asp-area="" asp-controller="Carrinho" asp-action="Index" style="position:absolute; right: 214px;">
                                <img src="~/images/Carrinho.png" width="50" />
                            </a>

                            <a asp-area="" asp-controller="Login" asp-action="LogOff" style="color: darkred; font-size: 15px">Sair</a>
                            <br />
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Carrinho" asp-action="Index" style="position:absolute; right: 214px;">
                                <img src="~/images/Carrinho.png" width="50" />
                            </a>

                            <a asp-area="" asp-controller="Login" asp-action="LogOff" style="color: darkred; font-size: 15px">Sair</a>
                        }

                    }
                    else
                    {
                        <a asp-area="" asp-controller="Login" asp-action="Index" style="position:absolute; right: 284px;">
                            <img src="~/images/User.png" width="50" />
                        </a>
                    }



                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - EuroFire Shop</p>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
