
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <section id="intro">
        <div class="intro-content">
            <h1>
                <strong>EUROFIRE SHOP:</strong>
            </h1>
            <h2>
                Telefone: (11) 2308-7481
                Whatsapp: (11) 97733-5469
                E-mail: comercial@eurofireshop.com.br
            </h2>

            <h2>
                Sobre o programa:

                Cadastros:
                Usuários;
                Fornecedor;
                Marca;
                Categoria;
                Pedido;
            </h2>
            <h2>
                Listagem:
                Usuários;
                Fornecedor;
                Marca;
                Categoria;
                Pedido;
            </h2>

        </div>
    </section>

    <br />
    <br />
    <br />

    <!-- section intro -->
    <section id="intro">
        <center>
            <div class="intro-content">
                <h2>
                    <strong>Sobre os integrantes do projeto:</strong>
                </h2>
            </div>
        </center>
    </section>
    <!-- /section intro -->

    <div class="row">
        <center>
            <div class="col-md-4 ">
                <br /><br />
                <div class="iconeIndex" id="divFabio">
                    <div class="box aligncenter">
                        <div class="icon">
                            <img class="ico" src="~/images/Fabio.png" width="200" height="200" />
                        </div>
                        <div class="text">
                            <h4>
                                <strong>
                                    IS DEAD <br />
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <br /><br />
                <div class="iconeIndex" id="divGabrielle">
                    <div class="box aligncenter">
                        <div class="icon">
                            <img class="ico" src="~/images/Gabrielle.png" width="200" height="200" />
                        </div>
                        <div class="text">
                            <h4>
                                <strong>
                                    Gabrielle <br />
                                    082180020
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <br /><br />
                <div class="iconeIndex" id="divGuilherme">
                    <div class="box aligncenter">
                        <div class="icon">
                            <img class="ico" src="~/images/Guilherme.gif" width="200" height="200" />
                        </div>
                        <div class="text">
                            <h4>
                                <strong>
                                    Guilherme <br />
                                    082180032
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</body>