@model List<ProdutoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<center>
    <form id="form-buscar" asp-action="buscar" method="get">
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input id="auto-complete" type="text" name="filtroBusca" placeholder="Buscar..." value="@ViewBag.FiltroBusca" autocomplete="off" class="ui-autocomplete-input">
        <button type="submit" class="btn btn-default" onclick="Filtro">Filtrar</button>
    </form>
    <select asp-for="@model.Filtro" asp-items="Html.GetEnumSelectList<EnumFiltroProduto>()" id="Filtro" class="form-control"></select>
</center>


<br />

@foreach (var prod in Model)
{
    <div class="row">

    </div>

    <div class="row">

        <div class="borda-alpha" style="">
            <h4>Produto: @prod.Nome</h4> <br />
            <figure>
                <img id="imagePreview" src="data:image/UploadIcon;base64,@prod.ImagemEm64_1" class="image-responsive" width="200" />
                <figcaption>Preço: @prod.Preco</figcaption>
            </figure>
        </div>


        <a href="/Carrinho/Detalhes?idProduto=@prod.Id" class="btn btn-group btn-warning">Detalhes</a> &nbsp;&nbsp;

    </div>

    <hr />
}


