@model List<MarcaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--TEM QUE FAZER FILTROS NESSA PARTE-->

<h1>Listagem de Marca</h1>

<br />
<a href="/Marca/criar">Novo Registro</a>
<br />
<br />


<table class="table table-responsive table-striped">

    <tr>
        <th>Marca</th>
        <th>Ações</th>
    </tr>

    @foreach (var marca in Model)
    {
        <tr>
            <td>@marca.Nome</td>
            <td>
                <a href="/Marca/Alterar/@marca.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                <a href="javascript:confirmaExclusao(@marca.Id, 'Marca')" class="btn btn-group btn-danger">Apagar</a>


            </td>
        </tr>
    }
</table>
