@model List<UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuários</h2>

<div style="margin-bottom: 15px">
    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Administrativo">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;  Voltar
    </a>
</div>
<!--REVER SE PRECISA COLOCAR AS OUTRAS INFORMAÇÕES DO USUÁRIO-->
<table class="table table-responsive table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <!--<th>Administrador</th>-->
    </tr>

    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Id</td>
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>


                <a href="/Usuario/Alterar/@usuario.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                <a href="javascript:confirmaExclusao(@usuario.Id, 'Usuario')" class="btn btn-group btn-danger">Apagar</a>


            </td>
        </tr>
    }

</table>


